target/
test-results/
.gradle
!gradle/wrapper/gradle-wrapper.jar
logs/*
*/logs/
embyApiClient

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

