
/*
Nav bar padding fix
http://getbootstrap.com/components/#navbar-fixed-top
*/
body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #3b2f32;
    color: #FFFFFF
}

.navbar {
    background-color: #1e1a1b;
    border: 1px solid #3b2f32;
}

.tab:hover {
    background-color: #3b2f32;
}

.active.tab {
    background-color: #3b2f32;
}

#innerContent.artistsAll {
    -webkit-column-count: 8;
    -moz-column-count: 8;
    column-count: 8;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
}

#bottomBar {
    padding-top: 10px;
}

/*
Make gliphicons larger
*/
span.glyphicon {
    font-size: 3.0em;
}
