<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../static/css/reset.css"
              th:href="@{/css/reset.css}" rel="stylesheet" media="screen"/>
        <link href="../static/css/style-blue.css"
        th:href="@{css/style-blue.css}" rel="stylesheet" media="screen"/>
        <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
                 rel = "stylesheet" /> -->
    </head>
    <body>
        <div id="container" class="fullscreen">
            <div id="contentContainer">
                <div id="sidebar" class="floatLeft">
                    <div id="sidebarContentContainer" class="corners mainBg content mediumPadding">
                    <div id="sidebarHeading" class="corners secondaryBg">
                        <div class="floatLeft mediumPadding navButton corners">
                            <img id="appHamNav" th:attr="src=@{images/hamNav.png}"
                            src="../static/images/hamNav.png" /></div>

                        <div id="sidebarHeader" class="header navHeader floatRight">
                            <h1>Artists</h1>
                        </div>
                        <div class="clearLeft"></div>
                    </div>
                    <div th:include="${#strings.concat('fragments/', appSidebarContent)} :: ${appSidebarContent}"
                    id="sidebarContent" class="verticleOverflow content mediumPadding">
                        <ul class="appContentList">
                            <li class="appArtistNav" entityid="60818a54cd40056918d461fe042123d8">Aaron Gillespie</li>
                            <li class="appArtistNav" entityid="60818a54cd40056918d461fe042123d8">Abandon All Ships</li>
                            <li class="appArtistNav" entityid="60818a54cd40056918d461fe042123d8">Academy Is</li>
                            <li class="appArtistNav" entityid="60818a54cd40056918d461fe042123d8">Acceptance</li>
                            <li>Ace Troubleshooter</li>
                            <li>An Acre Lost</li>
                            <li>Across Five Aprils</li>
                            <li>Adam Dutkiewicz</li>
                            <li>Adele</li>
                            <li>AFI</li>
                            <li>After the Night</li>
                            <li>Aiden</li>
                            <li>Akissforjersey</li>
                            <li>Alan Jackson</li>
                            <li>Alesana</li>
                            <li>Alexisonfire</li>
                            <li>Alive Like Me</li>
                            <li>All That Remains</li>
                            <li>Allstar Weekend</li>
                            <li>American Me</li>
                            <li>Amity Affliction</li>
                            <li>Anatomy of a Ghost</li>
                            <li>Anberlin</li>
                            <li>Andre Legacy</li>
                            <li>Angel Hair</li>
                            <li>Animals as Leaders</li>
                            <li>Animosity</li>
                            <li>Anthony Green</li>
                            <li>Architects</li>
                            <li>Armor for Sleep</li>
                            <li>Artery Recordings</li>
                            <li>Aaron Gillespie</li>
                            <li>Abandon All Ships</li>
                            <li>Academy Is</li>
                            <li>Acceptance</li>
                            <li>Ace Troubleshooter</li>
                            <li>An Acre Lost</li>
                            <li>Across Five Aprils</li>
                            <li>Adam Dutkiewicz</li>
                            <li>Adele</li>
                            <li>AFI</li>
                            <li>After the Night</li>
                            <li>Aiden</li>
                            <li>Akissforjersey</li>
                            <li>Alan Jackson</li>
                            <li>Alesana</li>
                            <li>Alexisonfire</li>
                            <li>Alive Like Me</li>
                            <li>All That Remains</li>
                            <li>Allstar Weekend</li>
                            <li>American Me</li>
                            <li>Amity Affliction</li>
                            <li>Anatomy of a Ghost</li>
                            <li>Anberlin</li>
                            <li>Andre Legacy</li>
                            <li>Angel Hair</li>
                            <li>Animals as Leaders</li>
                            <li>Animosity</li>
                            <li>Anthony Green</li>
                            <li>Architects</li>
                            <li>Armor for Sleep</li>
                            <li>Artery Recordings</li>
                        </ul>
                        <ul class="appMenuList menu hidden">
                            <li>Artists</li>
                            <li>Albums</li>
                            <li>Genres</li>
                            <li>Playlists</li>
                            <li>Favorites</li>
                            <li>Settings</li>
                        </ul>
                        <div class="filler"></div>
                    </div>
                </div>
                </div>
                <div id="mainContent" class="floatLeft">
                    <div id="mainContentContainer" class="corners mainBg content mediumPadding">
                        <div id="upperNav">
                            <div id="groupPlayControls" class="floatLeft">
                                <div id="groupPlay" name="groupPlay" class="button navButton secondaryBg corners floatLeft">Play</div>
                                <div id="groupShuffle" name="groupShuffle" class="button navButton secondaryBg corners floatLeft">Shuffle</div>
                                <div id="groupMix" name="groupMix" class="button secondaryBg navButton corners floatLeft">Mix</div>
                            </div>
                            <div id="search" class="search secondaryBg floatRight">
                                <input id="appSearch" type="text" class="searchBox secondaryBg" value="filter artists" />
                                <img th:attr="src=@{images/search.png}" src="../static/images/search.png"
                                class="searchImg floatRight smallPadding" />
                            </div>
                        </div>
                    <div id="contentHeading" class="floatRight hugeHeader secondaryText clearleft">
                        <h1 id="appMainContentHeading">Recent</h1>
                    </div>
                    <!-- <div th:include="${#strings.concat('fragments/', sidebarContent)} :: ${sidebarContent}" id="sidebarContent" class="verticleOverflow content mediumPadding"> -->
                    <div th:include="${#strings.concat('fragments/', appContentContent)} :: ${appContentContent}"
                    id="appContentContent" class="contentContent clearLeft">
                        <div id="albums" class="verticleOverflow">
                            <div class="albumContainer smallPadding floatLeft">
                                <div class="appAlbum album albumBorderBg">
                                    <div class="albumCover albumDefaultBg">Cities</div>
                                </div>
                                <div class="albumInfo">
                                    <span class="albumTitle">Cities</span> -
                                    <span class="albumYear">2009</span>
                                </div>
                            </div>
                            <div class="albumContainer smallPadding floatLeft">
                                <div class="appAlbum album albumBorderBg">
                                    <div class="albumCover albumDefaultBg">New Surrender</div>
                                </div>
                                <div class="albumInfo">
                                    <span class="albumTitle">New Surrender</span> -
                                    <span class="albumYear">2012</span>
                                </div>
                            </div>
                            <div class="albumContainer smallPadding floatLeft">
                                <div class="appAlbum album albumBorderBg">
                                    <div class="albumCover albumDefaultBg">Never Take Friendship Personal</div>
                                </div>
                                <div class="albumInfo">
                                    <span class="albumTitle">Never Take Friendship Personal</span> -
                                    <span class="albumYear">2009</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="appNowPlayingTime" class="nowPlayingTime corners"></div>
            <div id="player" class="mainBg">
                <div id="nowPlayingArtContainer">
                    <div id="nowPlayingArt" class="smallPadding">
                        <div class="albumNowPlaying albumBorderBg background">
                            <div id="albumCoverNowPlaying" class="albumCoverNowPlaying albumDefaultBg">The Curse</div>
                        </div>
                    </div>
                    <div id="appNowPlayingAlbum" class="nowPlayingAlbum mediumPadding floatLeft"></div>
                </div>
                <div id="nowPlayingInfo" class="nowPlayingInfo mediumPadding floatLeft">
                    <span id="appNowPlayingSong"></span> <br />
                    <span id="appNowPlayingArtist"></span>
                </div>
                <div id="playerControls" class="floatLeft">
                    <div id="appSkipback" class="floatLeft smallControl"><img th:attr="src=@{images/skipbackwardLight.png}" src="../static/images/skipbackwardLight.png" /></div>
                    <div id="appPrev" class="floatLeft mediumPadding"><img th:attr="src=@{images/prevLight.png}" src="../static/images/prevLight.png" /></div>
                    <div id="appPlay" class="floatLeft smallPadding"><img th:attr="src=@{images/playLight.png}" class="imgSize" src="../static/images/playLight.png" /></div>
                    <div id="appNext" class="floatLeft mediumPadding"><img th:attr="src=@{images/nextLight.png}" src="../static/images/nextLight.png" /></div>
                    <div id="appSkipforward" class="floatLeft smallControl"><img th:attr="src=@{images/skipforwardLight.png}" src="../static/images/skipforwardLight.png" /></div>
                </div>
                <div id="appVolume" class="volume floatLeft corners"></div>

                <div id="appQueue" class="navButton secondaryBg smallPadding corners floatRight">
                    <img th:attr="src=@{images/queue.png}" src="../static/images/queue.png" />
                </div>
                <div id="favorite" class="favorite floatRight"><img th:attr="src=@{images/favorite.png}" src="../static/images/favorite.png" /></div>
                <span id="appActiveInfo" artist="none" album="none" song="none"><!-- @TODO Replace with server call --></span>
            </div>
        </div>
        <audio id="appPlayer" controls="controls" autoplay="true" ontimeupdate='doTimeUpdate(this);' class="hidden"> </audio>
        <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js">
        </script>
        <script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
        <script th:src="@{/js/player.js}" src="../static/js/player.js"></script>
        <script th:src="@{/js/nav.js}" src="../static/js/nav.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/


            /*]]>*/
            </script>
    </body>
</html>
