<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="playQueue" id="appContentContent" class="contentContent clearLeft">
            <div id="queue" class="verticleOverflow queue">
                <table class="queueTable largePadding">
                    <tbody>
                        <tr th:each="songMap : ${songs}" class="appQueueTr">
                            <td class="mediumPadding queueTd" th:text="${songMap.value.name}">Adelaide</td>
                            <td class="mediumPadding queueTd" th:text="${songMap.value.duration}">3:30</td>
                            <td class="mediumPadding queueTd">favorite</td>
                            <td class="mediumPadding queueTd appPlaySong"
                                data-th-attr="entityId=${songMap.value.mediaId},
                                            trackNumber=${songMap.key},
                                            songName=${songMap.value.name},
                                            source=${songMap.value.mediaIdSource}">></td>
                            <td class="mediumPadding queueTd">>+</td>
                            <td class="mediumPadding queueTd">+</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </body>
</html>
