<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav id="topBar" class="row navbar navbar-fixed-top">
            <div id="artistTab" class="col-sm-2 active tab">
                <h2>Artists</h2>
            </div>
            <div id="albumTab" class="col-sm-2 tab">
                <h2>Albums</h2>
            </div>
            <div id="genreTab" class="col-sm-2 tab">
                <h2>Genres</h2>
            </div>
            <div id="playlistTab" class="col-sm-2 tab">
                <h2>Playlists</h2>
            </div>
            <div id="favoritesTab" class="col-sm-2 tab">
                <h2>Favorites</h2>
            </div>
            <div id="recentTab" class="col-sm-1 tab">
                <h2>Recent</h2>
            </div>
            <div id="settings" class="col-sm-1 tab">
                <h2>Settings</h2>
            </div>
        </nav>
</body>
</html>