<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="playQueue" id="innerContent" class="row">
            <div class="col-lg-12">
            
                <h2>Now Playing Queue</h2>
                <table class="table table-striped">
                	<th:block th:each="song : ${songs}">
	                	<tr>
	                		<td th:text="${song.trackNumber}">1</td>
	                		<td th:text="${song.name}">BatCountry</td>
	                		<td th:text="${song.container}">City of Evil</td>
	                		<td th:text="${song.runTimeTicks}">Avenged Sevenfold</td>
	                	</tr>	
                	</th:block>
                </table>
                	
<!--                 	<span class="songPlay" data-th-attr="songId=${song.id}" th:id="${album.id}"> Play </span>
                    <a th:href="@{/albums/{id}/(id=${album.id})}" href="/albums/albumKey">
                    	<li th:text="${album.name}">
                    	Alesana
                   		</li>
                   	</a> -->
                	
                
            </div>
            <script th:inline="javascript">
            /*<![CDATA[*/
			/* window.AudioContext = window.AudioContext || window.webkitAudioContext;
			 var context = new AudioContext();
				 
            function playAlbum(albumId) {
            	console.log(albumId);
				url="/play/album/" + albumId;
				$("#player").attr("src", url);
            }
            
            
            $(function() {                       //run when the DOM is ready
            	  $(".albumPlay").click(function() {  //use a class, since your ID gets mangled
            		  playAlbum($(this).attr('albumId'));     //add the class to the clicked element
            	  });
            	}); */
            
            /*]]>*/
            </script>
        </div>
</body>
</html>