<!DOCTYPE html>
<html>
<head lang="en">

    <title>Emby Mini Music</title>
</head>
<body>

<div class="container">
                <div class="">
                    <h2>Login</h2>
                    <form action="#" th:action="@{/connect}" th:object="${server}" method="post">
						<label for="serverUrl">Emby Url</label>
						<input type="text" id="serverUrl" th:field="*{url}" />
						<label for="username">username</label>
						<input type="text" id="username" th:field="*{username}" />
						<input type="text" th:field="*{password}" />
						<label th:for="${#ids.next('persist')}" th:text="${stayLoggedIn}">Persiste Session</label>
						<input type="checkbox" th:field="*{persist}" />
						<button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div>
</div>
</body>
</html>