/* Tag Styles */

body {
    color: #2e4045;
     font-family: "Times New Roman", Times, serif;
}





#container {
    background-image: url(../images/gradient.png);
    background-repeat: repeat-x;
    background-color: #aaaaaa;
}
#contentContainer {
    height: 87%;
}

#contentHeading {
    z-index: -1;
}

/* Id Styles */
#sidebar {
    padding: 10px 10px;
    height: 100%;
    width: 260px;
}

#mainContent {
    padding: 10px 10px;
    height: 100%;
    min-width: 60%;
    width: 76%;
}

#sidebarContent {
    height: 88%;
}


.verticleOverflow {
    overflow-y: hidden;
    overflow-x:hidden;
}

.verticleOverflow:hover {
    overflow-y: auto;
}

#upperNav {
    width: 100%;
}

#player {
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
}

#groupPlayControls {
    margin-left: 5%;
}

#albums {
    padding-top: 10px;
    width: 100%;
    height: 88%;
    width: 100%;

}

#playerControls {
    width: 295px;
}

#nowPlayingSong {
    width: 10%;
    padding: 45px 0 0 10px;
}

#innerVolume {
    width: 60%;
    height: 13px;
}

#nowPlayingArt {
    width:160px;
    position:fixed;
    left:25px;
    bottom:25px;
}

#nowPlayingTime {
    position:fixed;
    left:0px;
    bottom:10px;
    height:70px;
    width:60%;
}

/* Class Styles */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

}

/* colors */
.mainBg {
    background-color: #b2e5e5;
}

.secondaryBg {
    background-color: #86becb;
    /*background-color: #317873;*/
}

.secondaryText {
    color: white;
}

.mainText {
    color: #1aa3a3;
}

.selectedText {
    font-weight: bold;
}

.albumBorderBg {
        background-color: #FFFFFF;
}

.albumDefaultBg {
    background: #000000;
}

/* Transparencies */

/* border radius */
.corners {
    border-radius: 5px;
}

/* utility styles */

.clearBoth {
    clear: both;
}

.clearRight {
    clear: right;
}

.clearLeft {
    clear: left;
}

.floatLeft {
    float: left;
}

.floatRight {
    float:right;
}

.hidden {
    display: none;
}

.largePadding {
    padding: 15px;
}

.mediumPadding {
    padding: 10px;
}

.smallPadding {
    padding: 5px;
}

.content {
    height: 100%;
}

.contentContent {
    height: 88%;
}

.header {
    font-size: 40px;
}

.hugeHeader {
    font-size: 100px;
    padding: 30px;
}

.navHeader {
    padding: 5% 5%;
}

.button {
    padding: 10px;
    margin: 10px;
}

.navButton:hover {
    background-color: #2e4045;
    color: white;
}

.albumContainer {
    width:160px;
    height: 200px;
}

.album {

    width: 160px;
    height: 155px;
    padding-top: 5px;
}

.albumCover {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.albumNowPlaying {
    width: 110px;
    height: 105px;
    padding-top: 5px;
}

.albumCoverNowPlaying {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: black;
}

.smallControl {
    padding: 20px 5px 0px 5px;
}

.imgSize {
    height: 60px;
    width: auto;
}

.searchBox {
    border-style: none;
    margin: 7px;
    width: 75%;
}

.searchBox:focus {
    outline-width: 0px;
}

.input {
    border-style: none;
}

.input:focus {
        outline-width: 0px;
}

.searchImg {
    width: 20px;
}

.filler {
    height: 60px;
}

.queueIcon {
    margin-left: 20px;
}

.queue {
    width: 100%;
    height: 88%;
}

.queueTable {
    width: 100%;
    border-collapse: collapse;
}
.queueTr:hover {
    background-color: #2e4045;
    color: white;
}

.queueTd {

}



.volume {
    margin: 25px 10px 10px 25px;
    width: 130px;
    height: 13px;
    background-color: #FFFFFF;
}

.search {
    border-radius: 15px;
    height: 30px;
    width: 20%;
}

.nowPlayingInfo {
    width: 30%;
}

.favorite {
    padding: 10px 20px 10px 20px;
}
