/* Tag Styles */

body {
    color: #2e4045;
     font-family: "Times New Roman", Times, serif;
}

li:hover {
    color: white;
}

#container {
    background-image: url(../images/gradient.png);
    background-repeat: repeat-x;
    background-color: #aaaaaa;
}
#contentContainer {
    height: 87%;
}

#contentHeading {
    z-index: -1;
}

/* Id Styles */
#sidebar {
    padding: 10px 10px;
    height: 100%;
    width: 260px;
}

#mainContent {
    padding: 10px 10px;
    height: 100%;
    min-width: 60%;
    width: 76%;
}

#sidebarContent {
    height: 88%;
}


.verticleOverflow {
    overflow-y: hidden;
    overflow-x:hidden;
}

.verticleOverflow:hover {
    overflow-y: auto;
}

#upperNav {
    width: 100%;
}

#player {
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
}

#groupPlayControls {
    margin-left: 5%;
}

#albums {
    padding-top: 10px;
    width: 100%;
    height: 88%;
    width: 100%;

}

#playerControls {
    width: 295px;
}

#nowPlayingSong {
    width: 10%;
    padding: 45px 0 0 10px;
}

#innerVolume {
    width: 60%;
    height: 13px;
}

#nowPlayingArt {
    width:160px;
    position:fixed;
    left:25px;
    bottom:25px;
}

.nowPlayingTime {
    left:0px;
    bottom:-45px;
    height:15px;
    width:98%;
}

/* Class Styles */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

}

/* colors */
.mainBg {
    background-color: #b2e5e5;
}

.secondaryBg {
    background-color: #86becb;
    /*background-color: #317873;*/
}

.secondaryText {
    color: white;
}

.mainText {
    color: #1aa3a3;
}

.selectedText {
    font-weight: bold;
}

.albumBorderBg {
        background-color: #FFFFFF;
}

.albumDefaultBg {
    background: #000000;
}

/* Transparencies */

/* border radius */
.corners {
    border-radius: 5px;
}

/* utility styles */

.error {
    color: red;
}

.success {
    color: green
}

.clearBoth {
    clear: both;
}

.clearRight {
    clear: right;
}

.clearLeft {
    clear: left;
}

.floatLeft {
    float: left;
}

.floatRight {
    float:right;
}

.hidden {
    display: none;
}

.largePadding {
    padding: 15px;
}

.mediumPadding {
    padding: 10px;
}

.smallPadding {
    padding: 5px;
}

.content {
    height: 100%;
}

.contentContent {
    height: 88%;
}

.header {
    font-size: 40px;
}

.hugeHeader {
    font-size: 100px;
    padding: 30px;
}

.navHeader {
    padding: 5% 5%;
}

.button {
    padding: 10px;
    margin: 10px;
}

.navButton:hover {
    background-color: #2e4045;
    color: white;
}

.albumContainer {
    width:160px;
    height: 200px;
}

.album {

    width: 160px;
    height: 155px;
    padding-top: 5px;
}

.albumCover {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.albumCoverSmall {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.albumNowPlaying {
    width: 110px;
    height: 105px;
    padding-top: 5px;
}

.albumCoverNowPlaying {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: black;
}

.smallControl {
    padding: 20px 5px 0px 5px;
}

.imgSize {
    height: 60px;
    width: auto;
}

.searchBox {
    border-style: none;
    margin: 7px;
    width: 75%;
}

.searchBox:focus {
    outline-width: 0px;
}

.input {
    border-style: none;
}

.input:focus {
        outline-width: 0px;
}

.searchImg {
    width: 20px;
}

.filler {
    height: 60px;
}

.queue {
    width: 100%;
    height: 88%;
}

.queueTable {
    width: 100%;
    border-collapse: collapse;
}
.queueTr:hover {
    background-color: #2e4045;
    color: white;
}

.queueTd {

}



.volume {
    margin: 25px 10px 10px 25px;
    width: 130px;
    height: 13px;
    background-color: #FFFFFF;
}

.search {
    border-radius: 15px;
    height: 30px;
    width: 20%;
}

.nowPlayingInfo {
    width: 25%;
    padding-left: 100px;
}

.nowPlayingAlbum {
    margin-top: 35px;
    padding-left: 45px;
}

.favorite {
    padding: 10px 20px 10px 20px;
}

/*Slider */
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 0;
	width: 20px;
	height: 100%;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
    background-color: #86becb;
}

/* settings for */
.form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}
.form h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

/* thanks for the form example
* https://www.sanwebe.com/2014/08/css-html-forms-designs
*/

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form input[type="submit"],
.form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: #2EBC99;
}

/*End form example */

/* first run sources */
#firstRunSources {
    padding-top: 10px;
    width: 100%;
    height: 88%;
    width: 75%;

}